.piece {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 700px;
	background-color: #FFFFFF;
	transform: translate(-600px, 200px);
	left: 50%;
	cursor: pointer;
}
.piece .layer {
	background-color: transparent;
}