<div id="wrapper" class="white-bg">
	<div class="orange-bg c-s"></div>
	<div class="header container c-s">
		<a href="/">
			<div class="logo">

			</div>
		</a>
		<nav class="navigation navbar">
			<ul class="navbar-list">
				<li class="navbar-item">
					<a href="/">HOME</a>
				</li>
				<li class="navbar-item">
					<a href="/draw">DRAW</a>
				</li>
				<li class="navbar-item">
					<a href="/train">TRAIN</a>
				</li>
			</ul>
		</nav>`
	</div>
	<div id="menu">
		<div class="menu-group colors">
			<div class="menu-item color" data-color="red">Red</div>
			<div class="menu-item color" data-color="green">Green</div>
			<div class="menu-item color" data-color="blue">Blue</div>
		</div>
		<div class="menu-group weights">
			<div class="menu-item weight" data-weight="light">Light</div>
			<div class="menu-item weight" data-weight="medium">Medium</div>
			<div class="menu-item heavy" data-weight="heavy">Heavy</div>
		</div>
		<div class="menu-group tools">
			<div class="menu-item tool" data-tool="marker">Marker</div>
			<div class="menu-item tool" data-tool="crayon">Crayon</div>
			<div class="menu-item tool" data-tool="pencil">Pencil</div>
			<div class="menu-item tool" data-tool="eraser">Eraser</div>
		</div>
		<div class="menu-group brushsizes">
			<div class="menu-item brushsize" data-width="1">Thin</div>
			<div class="menu-item brushsize" data-width="5">Standard</div>
			<div class="menu-item brushsize" data-width="9">Thick</div>
		</div>
		<div class="menu-group layers">
			<div class="menu-item layer"></div>
		</div>
	</div>
	<div class="content">
		<div class="piece">
			<canvas id="" class="layer" width="1200" height="700"></canvas>
		</div>
	</div>
</div>